.vscode
__pycache__/
howsam_files/
codes/week_02_linear-regression/week_2_linear_regression.ipynb
codes/week_02_linear-regression/week-2-linear-regression-answer.pdf
codes/week_02_linear-regression/week-2-linear-regression-question.pdf
